<main>
    <div class="container">
        <div class="post-list">
            <% for(let i = 0; i < page.posts.length; i++){ %>
            <article class="post-list-item">
                <h2 class="post-title"><a href="<%= url_for(page.posts.data[i].path) %>" target="_blank"><%= page.posts.data[i].title %></a></h2>
                <div class="post-info"><%= page.posts.data[i].date.format('YYYY年MM月DD日 HH点mm分') %></div>
                <div class="post-content"><%- page.posts.data[i].excerpt %></div>
                <a class="read-more" href="<%= url_for(page.posts.data[i].path) %>">READ MORE</a>
            </article>
            <% }%>
            <div class="paginator"><%- paginator({ prev_text: '上一页', next_text: '下一页' }) %></div>
        </div>
        <aside>
            <div class="about-card">
                <div class="info">
                    <p class="author"><%= config.author %></p>
                    <p class="description"><%= config.description %></p>
                </div>
                <div class="avatar">
                    <img src="<%= url_for(theme.avatar) %>">
                </div>
            </div>
            <div class="category-card">
                <div class="card-title">分类</div>
                <%- list_categories() %>
            </div>
            <div class="tag-card">
                <div class="card-title">标签</div>
                <%- list_tags({ show_count: false }) %>
            </div>
        </aside>
    </div>
</main>